.App {
  text-align: center;
  display: "flex";
  justify-content: "center";
  align-items: "center";
}

html, body, #root, #root>div {
  height: 100%;
  margin: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  padding-inline-start: 0
}

pre {
  text-align: left;
}

ul.blind-heights-container {
  padding-left: 0px;
  padding-right: 0px;
}

.blind-heights-container li {
  width: 120px;
}

/* .MuiSlider-track:not(.MuiSlider-active) { */
/*   transition: height 1s ease-in; */
/* } */

.MuiSlider-track {
  transition: height 1s ease-in-out;
}

.blind-height-indicator {
  padding-bottom: 15px;
  display: inline-block;
  width: auto;
  padding: 15px 5px;

}

.actions {
  margin-bottom: 20px;
  height: 200px;
}

.actions button {
  display: block;
  width: 120px;
}

.blindset-name {
  font-weight: bold;
}

